@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-regular {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.playfair-display-regular> {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
 }

.caveat-regular {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

nav {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, #f2b6f1, #E9EEC4, #78a1e3);
    border-image-slice: 1;
    width: 100%;
    display:flex;
    flex-direction:row;

    top: 0;
    left: 0;
    z-index: 99;
}

nav .logo {
    margin-right:auto;
    padding:3em 3em;
}

nav .logo a{
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    color:#926FC5;
    text-decoration:none;
}

nav ul {    
    list-style: none;
    padding:2em 3em;
}

nav li {
    width: 6em;
    padding-top:1em;
    text-align:center;
    display:inline-block;
}

nav li a {
    text-decoration:none;
    color:black;
    font-family:"Manrope", serif;
}

nav li a.active {
    border-bottom: 2px solid #f2b6f1;
    padding-bottom:6px;
}

nav li a:hover, .dropdown:hover .dropbtn,  #container2 .subcontent .box a:hover{
    background-image: linear-gradient(90deg, #8781de, #78a1e3);
    color: transparent;
    background-size:100%;
    background-clip: text;
    transition: 0.3s;
    font-weight:700;
}

.dropdown {
    position:relative;
}
  
.dropdown:hover .submenu {
    display:flex;
    flex-direction:column;
    gap:15px;
    position: absolute;
    z-index: 1;
    background-color:azure;
    padding-top:10px;
    padding-bottom:20px;
}


.submenu {
    display:none;
    z-index:100;
    width:0px;
}

.dropdown a > span {
    z-index: 200;
    position: relative; 
}

.submenu li {
    margin-left:-3em;
}

.submenu a {
    color: black;
    text-decoration: none;
    display: fixed;
    text-align: center;
    line-height:30px;
}

div.bio .content {
    margin:5.5em;
    display:flex;
    gap: 75px;
}

div.bio .text {
    align-content:center;
}

div.bio img {
    width:auto;
    height:500px;
}

div.bio h1, #container4 h1 {
    font-family:"Playfair Display", serif;
    font-size: 4rem;
    font-weight:normal;
    color:#926FC5;
}

div.bio p {
    font-family:"Manrope", serif;
}

footer {
    border-top: 2px solid transparent;
    border-image: linear-gradient(0.25turn, #f2b6f1, #E9EEC4, #78a1e3);
    border-image-slice: 1;
    width: 100%;
    height:3em;
    position:absolute;
}

#container1{
    background-color: #CBB9E3;
    width:100%;
    height:600px;
    position:relative;
    font-family:"Manrope", serif;
}

#container1 .content{
    padding:3em;
    display:flex;
    gap:45px;
}

#container1 .text {
    text-align:right;
    align-self:flex-start;
    padding-top:75px;
}

#container1 h1 {
    font-family: "Caveat", serif;
    font-size:6em;
}

#container1 h2{
    font-family:"Playfair Display", serif;
    font-weight:normal;
    font-size:5em;
}

#container1 h1,h2{
    display:inline;
    color:white;
}

#container1 img {
    width:auto;
    height:500px;
    margin-right:5em;
    box-shadow: 20px 20px #E9EEC4;
}

#container2 {
    height:auto;
    position:relative;
    width:80%;
    padding:45px;
    margin:auto;
}

#container2 .content, #container4 .project {
    padding:60px;
    display:flex;
    flex-direction: column;
    gap:30px;
    font-family:"Manrope", serif;
    border: 3px solid transparent;
    border-image: linear-gradient(0.25turn, #f2b6f1, #E9EEC4, #78a1e3);
    border-image-slice: 1;
    border-radius:25px;
}

#container2 .text h1, #container3 h1 {
    font-family:"Playfair Display", serif;
    font-weight:normal;
    font-size:3em;
}


#container2 .container2-list {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap:50px;
}

#container2 .box {
    border:3px solid;
    border-color:#CBB9E3;
    width:40%;
    overflow:hidden;
    max-height:300px; 
    border-radius:25px;  
    position:relative; 
    box-shadow: 0 3000px rgba(233, 242, 182, 0.4) inset;
}

#container2 .box img {
    width:100%;
    height:50px;
    opacity:20%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#container2 .box a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration:none;
    color:black;
    font-family:"Playfair Display", serif;
    font-size:1.5em;
    justify-content: center;
    text-align:center;
    padding:10px;
}

#container3 {
    height:auto;
    position:relative;
    padding:10px;
    background-color:#E9EEC4;
    margin:auto;
    margin-bottom:50px;
}

#container3 .content {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    padding:20px;
}

#container3 .box {
    background-color: white;
    width:80%;
    padding:50px;
    font-family:"Manrope", serif;
    border-radius: 10px 100px / 120px;
}

#container3 h2 {
    color:black;
    font-weight:normal;
    text-align:center;
}

#container3 .button {
    background-color: azure;
    border-radius: 15px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family:"Manrope", serif;
    box-shadow: 0 9px lightgrey;
  }

#container3 .button:hover {
    background-color: lightblue;
    color:black;
}

#container3 .button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition:0s;
}

#container4 {
    height:auto;
    position:relative;
    width:90%;
    padding:40px;
    margin:auto;
}

#container4 {
    font-family:"Manrope",serif;
}

#timeline {
    display:flex;
    flex-direction: column;
    padding:30px;
    gap:75px;
}

#timeline h2 {
    color:black;
}

#timeline .timeline-container {
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:50px;
}

.circle {
    min-width: 140px;
    height: 140px;
    border-radius:50%;
    background-color: #E9EEC4;
    position: relative;
}

#subcontent1 .videos {
    background-color: #E9EEC4;
    width:70%;
    height:auto;
    padding:30px;
    margin: 20px auto 40px auto;
    border-radius:25px;
    justify-content: center;
    display:flex;
    flex-direction: row;
    gap:15px;
}

#subcontent2 {
    display:flex;
    flex-direction:row;
    gap:40px;
    align-items:center;
    padding:40px 0 40px 0;
    border-top: 2px solid transparent;
    border-bottom:  2px solid transparent;
    border-image: linear-gradient(0.25turn, #f2b6f1, #E9EEC4, #78a1e3);
    border-image-slice: 1;
}

#subcontent2 .gr_grid_container {
  /* customize grid container div here. eg: width: 500px; */
  max-width:100%;
  width:500px;
  padding:30px;
  border:3px outset #CBB9E3;
  background-color: azure;
}

#subcontent2 .gr_grid_book_container {
  /* customize book cover container div here */
  float: left;
  width: 98px;
  height: 160px;
  padding: 0px 0px;
  overflow: hidden;
}

#subcontent3 {
    padding-top:30px;
}

#subcontent3 .gallery {
    margin:auto;
    display:grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
    background-color:#CBB9E3;
    justify-items: center;
    align-items: center;
    width:80%;
    padding:10px;
}

#subcontent3 .gallery img {
    max-width:90%;
    height:auto;
    padding:10px;
}
    
#subcontent3 .gallery img:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.3s ease;
}

#container4 .project h2{
    color:black;
}