@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-regular {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.playfair-display-regular> {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
 }

.caveat-regular {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

nav {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, #f2b6f1, #e9f2b6, #78a1e3);
    border-image-slice: 1;
    width: 100%;
    display:flex;
    top: 0;
    left: 0;
    z-index: 99;
}

nav .logo {
    margin-right:auto;
    padding:3em 3em;
}

nav .logo a{
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    color:#926FC5;
    text-decoration:none;
}

nav ul {    
    list-style: none;
    padding:2em 3em;
}

nav li {
    width: 6em;
    padding-top:1em;
    text-align:center;
    display:inline-block;
}

nav li a {
    text-decoration:none;
    color:black;
    font-family:"Manrope", serif;
}

nav li a.active {
    border-bottom: 2px solid #f2b6f1;
    padding-bottom:6px;
}

nav li a:hover {
    background-image: linear-gradient(90deg, #8781de, #78a1e3);
    color: transparent;
    background-size:100%;
    background-clip: text;
    transition: 0.5s;
    font-weight:700;
    border-bottom: 2px solid #8781de;
    padding-bottom:6px;
    border-bottom-width:5px;
}